body,ul{
    margin: 0;
}
ul{
    padding-left: 0;
    list-style: none;
}
p{
    text-align: center;
    font-size: 48px;
    color: hotpink;
}
.content{
    width: 1200px;
    height: 367px;
    margin: 100px auto 0;
}
.imglist{
    width: 1200px;
    height: 336px;
}
.lineb{
    width: 1200px;
    height: 31px;
    text-align: center;
}
.imglist>ul{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.imglist>ul>li{
    position: absolute;
    width: 730px;
    height: 336px;
    transition: all 1s;
}
.imglist>ul>li>img{
    width: 100%;
    height: 100%;
}
.list1{
    transform: translateX(0) scale(0.81);
    z-index: 1;
    transform-origin: 0% 100%;
}
.list2{
    transform: translateX(235px);
    z-index: 2;
}
.list3{
    transform: translateX(730px) scale(0.81);
    z-index: 1;
    transform-origin: 100% 100%;
}
.list4{
    transform: translateX(965px) scale(0.81);
    transform-origin: 100% 100%;
}
.list5{
    transform: translateX(1200px) scale(0.81);
    transform-origin: 100% 100%;
}
.list6{
    transform: translateX(1425px) scale(0.81);
    transform-origin: 100% 100%;
}
.lineb>span{
    display: inline-block;
    width: 35px;
    height: 3px;
    background-color: #CCCCCC;
}