html{
    font-size: 16px;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    perspective: 187.5rem;
    transform-style: preserve-3d;
    height: 100%;
    font:12px/180% Arial, Helvetica, sans-serif, "新宋体";
}

*{
    margin:0;
    padding:0;
    list-style-type:none;
}

a,img
{
    border:0;
}

@keyframes move {
    0% {
        transform: translateX(-50%) translateY(-100%) rotateY(0deg) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: translateX(-50%) translateY(-50%) rotateY(180deg) rotateY(180deg) rotateZ(45deg);
    }
    75% {
        transform: translateX(-50%) translateY(-50%) rotateY(360deg) rotateY(360deg) rotateZ(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-100%) rotateY(360deg) rotateY(0deg) rotateZ(45deg);
    }
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}

:root,html{
    height: 100%;
}

.wrapper{
    position: absolute;
    width: 18.75rem;
    height: 18.75rem;
    left: calc(50%);
    top: calc(50%);
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    animation: move 20s linear infinite;
}

.a-herf {
    position: fixed;
    right: 2.75rem;
    bottom: 2.75rem;
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    background-color: hotpink;
}

img:nth-of-type(1),
img:nth-of-type(2),
img:nth-of-type(3),
img:nth-of-type(4),
img:nth-of-type(5),
img:nth-of-type(6) {
    position: absolute;
    /* left: 50%;
    top: 50%; */
    width: 100%;
    height: 100%;
}

img:nth-of-type(1) {
    transform: translateZ(150px) ;

}
img:nth-of-type(2) {
    transform:rotateY(90deg)  translateZ(150px);
}
img:nth-of-type(3) {
    transform:rotateY(180deg) translateZ(150px) ;
}
img:nth-of-type(4) {
    transform: rotateY(270deg) translateZ(150px);
}
img:nth-of-type(5) {
    transform: rotateX(90deg) translateZ(150px);
}
img:nth-of-type(6){
    transform:rotateX(270deg) translateZ(150px) ;
}

.heart {
    position: fixed;
    bottom: 6.25rem;
    right: 3.125rem;
    width: 6.25rem;
    height: 6.25rem;
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.heart-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    line-height: 6.25rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.heart div {
    width: 100%;
    height: 100%;
    position: absolute;
    background: pink;
    animation-name: shadow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.topLeft,.topRight {
    border-radius: 3.125rem 3.125rem 0 0;
}

.topLeft {
    transform: translate(-1.5625rem, 0) rotate(-45deg);
}

.topRight {
    transform: translate(1.5625rem, 0) rotate(45deg);
}

.bottom {
    transform: translate(0, 2rem) rotate(45deg) scale(.9, .9);
}
/* 定义动画 */

@keyframes shake {
    0% {
        transform: scale(.9, .9);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100%{
        transform: scale(.9, .9);
    }
}

@keyframes shadow {
    from {

    }
    to {
        box-shadow: 0px 0px 1.25rem pink;
    }
}